<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Directions</key>
	<array>
		<dict>
			<key>source</key>
			<string>Tambaram</string>
			<key>destination</key>
			<string>Guindy</string>
		</dict>
		<dict>
			<key>source</key>
			<string>Madurai</string>
			<key>destination</key>
			<string>Chengalpattu</string>
		</dict>
		<dict>
			<key>source</key>
			<string>Chengalpattu</string>
			<key>destination</key>
			<string>Adayar</string>
		</dict>
		<dict>
			<key>source</key>
			<string>Guindy</string>
			<key>destination</key>
			<string>Kanchipuram</string>
		</dict>
	</array>
</dict>
</plist>
